@font-face {
  font-family: Cubano;
  src: url(Fonts/Cubano.ttf);
}

:root {
  --light-blue: #d8eafd;
  --dark-blue: #052a4e;
  --pinkish-red: #fd5555;
  --blue-medium: #7fb4ee;
  --dark-pinkish-red: #df5252;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Cubano", sans-serif;
}

.logo {
  margin: 0 20px;
  text-decoration: none;
  color: var(--dark-blue);
  letter-spacing: 4px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.logo-container {
  display: flex;
}

.logo-container img {
  height: 40px;
  width: 40px;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

html, body {
  background-color: var(--light-blue);
  font-family: "Cubano", sans-serif;
  line-height: 1.4;
}

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light-blue);
  width: 100%;
  height: auto;
  align-items: center;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin: 0 20px;
  font-weight: bold;
  color: var(--pinkish-red);
}

.nav-menu a {
  color: var(--pinkish-red);
  text-decoration: none;
}

.nav-menu a:hover {
  color: var(--dark-blue);
}

section:nth-child(odd) {
  background-color: var(--dark-pinkish-red);
}

section:nth-child(even) {
  background-color: var(--blue-medium);
}

.contact-mob {
  cursor: pointer;
  display: inline-block;
  background: var(--light-blue);
  color: var(--dark-blue);
  border: none;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.contact {
  cursor: pointer;
  display: inline-block;
  background: var(--dark-blue);
  border: none;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.contact:hover {
  background-color: var(--pinkish-red);
}


.intro {
  color: var(--dark-blue);
  font-size: 3rem;
  line-height: 5rem;
  font-weight: bold;
  padding: 45px 10px;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.intro span {
  color: var(--pinkish-red);
  background-color: var(--dark-blue);
  padding: 4px 6px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 3px;
}

.intro span:hover {
  cursor: pointer;
  color: var(--dark-blue);
  background-color: var(--pinkish-red);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

/* Intro-section */
.intro-section {
  text-align: center;
  padding: 20px 0;
  margin: 30px 10px;
  margin-top: 100px;
  border-radius: 5px;
}

/* Projects */
.project-section {
  display: grid;
  grid-template-columns: 60% 40%;
  text-align: center;
  margin: 30px 10px;
  border-radius: 5px;
}

.project-section img {
  height: 300px;
  width: 750px;
  object-fit: cover;
}

.project-container {
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  max-width: 800px;
}

.project-section p {
  font-size: 25px;
  color: var(--light-blue);
}

.project-section a {
  text-decoration: none;
  color: var(--dark-blue);
}

.project-section a:hover {
  color: var(--pinkish-red);
}

.project-section h1 {
  padding: 20px 10px;
  font-size: 2rem;
}

.github-p {
  padding: 20px 10px;
}

/* Hamburger */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: var(--pinkish-red);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */
.mobile-menu {
  text-decoration: none;
  position: fixed;
  top: 76px;
  right: 0;
  background-color: var(--dark-blue);
  width: 80%;
  height: 100%;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
}

.mobile-menu ul {
  line-height: 3;
  border-bottom: var(--blue-medium) 1px solid ;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-decoration: none;
}

.mobile-menu li a {
  text-decoration: none;
}

.mobile-menu a {
  color: var(--blue-medium);
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu a:hover {
  color: var(--pinkish-red);
}

.hidden {
  transform: translateX(100%);
}

@media screen and (max-width: 768px) {
  .intro {
    font-size: 2rem;
    line-height: 3rem;
  }
  .project-section {
    display: flex;
    flex-direction: column;
  }

  .project-section img {
    height: 275px;
    width: 600px;
    object-fit: cover;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
  }