* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cubano", sans-serif;
}

body {
  background-color: #d8eafd;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.navbar ul {
  display: flex;
}

.nbtnli {
  margin: 3px 20px;
  color: rgb(253, 85, 85);
}

.nbtnli:hover {
  background-color: #052a4e;
  border-radius: 3px;
}

.contactli {
  padding: 0 24px;
}

.btn-contact {
  color: rgb(253, 85, 85);
  background-color: #052a4e;
  padding: 3px 10px;
  border-radius: 40px;
}

.btn-contact:hover {
  background-color: rgb(253, 85, 85);
  color: #052a4e;
}

.logo {
  color: #052a4e;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 3px 20px;
  border: none;
  border-radius: 3px;
}

.com-soon {
  color: rgb(255, 85, 85);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nm-intro {
  color: #052a4e;
}

.nm-intro span {
  color: rgb(255, 85, 85);
  background-color: #052a4e;
  padding: 4px 6px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 3px;
}

.nm-intro span:hover {
  cursor: pointer;
  color: #052a4e;
  background-color: rgb(255, 85, 85);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}
