* {
  box-sizing: border-box;
  font-family: "Cubano", sans-serif;
}

.com-soon {
  color: rgb(255, 31, 31);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nm-intro span {
  color: rgb(255, 31, 31);
  background: linear-gradient(to right, rgb(150, 183, 255), rgb(202, 122, 255));
  padding: 4px 6px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 3px;
}
